In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('spam.csv')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 606-607: invalid continuation byte

In [4]:
df = pd.read_csv('spam.csv',encoding='latin1')

In [5]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)

In [ ]:
# Steps:
#1. Data Cleaning
#2. EDA
#3. Text preprocessing 
#4. Model building
#5. Evaluation
#6. Improvement
#7. Website
#8. Deployment

## Data Cleaning

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
#dropping the 3 columns with much missing values
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [9]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [10]:
df.sample(5)

       v1                                                 v2
1812  ham  \Getting tickets 4 walsall tue 6 th march. My ...
137   ham     No no. I will check all rooms befor activities
5082  ham  Amazing : If you rearrange these letters it gi...
2612  ham                   Yes. It's all innocent fun. O:-)
1948  ham  I cant pick the phone right now. Pls send a me...

In [11]:
#renaming the columns
df.rename(columns={'v1':'target','v2':'text'}, inplace=True)

In [13]:
df.sample(5)

     target                                               text
4059   spam  This weeks SavaMob member offers are now acces...
3365    ham                    I am waiting for your call sir.
1139    ham  Message:some text missing* Sender:Name Missing...
2047    ham  No de. But call me after some time. Ill tell y...
2980    ham  7 wonders in My WORLD 7th You 6th Ur style 5th...